<form class="root">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input [control]="form.name" matInput />
    @if (!form.name().valid()) {
    <mat-error>
      @if (form.name().errors()[0].kind === 'required') { This field is required }
      @if (form.name().errors()[0].kind === 'notUnique') { This name is not unique }
    </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input [control]="form.email" matInput />
    @if (!form.email().valid()) {
      <mat-error>{{ form.email().errors()[0].kind }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input [control]="form.password" matInput type="password" />
    @if (!form.password().valid()) {
      <mat-error>{{ form.password().errors()[0].kind }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Confirm Password</mat-label>
    <input [control]="form.confirmationPassword" matInput type="password" />
    @if (!form.confirmationPassword().valid()) {
      <mat-error>
        {{ form.confirmationPassword().errors()[0].kind }}:
        {{ form.confirmationPassword().errors()[0].message ?? 'Invalid' }}
      </mat-error>
    }
  </mat-form-field>

  <label>
    <mat-checkbox [control]="form.recommendToFriends"> Recommend to friends </mat-checkbox>
  </label>

  @if (form.recommendToFriends().value()) {
    @for (friend of form.friends; track friend) {
    <app-friend [friend]="friend"></app-friend>
    }
    <button type="button" matButton="outlined" (click)="addFriend()">Add Friend</button>
  }

  <button
    type="button"
    matButton="outlined"
    color="primary"
    (click)="submit()"
    [disabled]="!form().valid()"
  >
    Submit
  </button>

  <div>
    <pre>{{ data() | json }}</pre>
  </div>
</form>
